@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        font-size: 1.75rem;
        font-weight: bold;
        line-height: 2.125rem;
    }
    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.813rem;
    }
    h3 {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.5rem;
    }
    h4 {
        font-size: 0.875rem;
        font-weight: bold;
        line-height: 1.125rem;
    }

    body {
        font-size: 1rem;
        line-height: 1.625rem;
        background-color: #f4f6f8;
    }
}

/* custom checkbox */
input[type='checkbox'] {
    display: none;
}

input[type='checkbox'] + label {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 16px;
}

input[type='checkbox'] + label span {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #19202d;
}

input[type='checkbox'] + label .checkbox > svg {
    display: none;
}

input[type='checkbox']:hover + label .checkbox {
    background: #5964e0;
    opacity: 0.25;
}

input[type='checkbox']:checked + label .checkbox {
    background: #5964e0;
    opacity: 1;
}

input[type='checkbox']:checked + label .checkbox > svg {
    display: block;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: #19202d;
    opacity: 0.1;
    border-radius: 3px;
}
